<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>不动产登记申请书</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="./Content/weui.css" />
    <link rel="stylesheet" href="./Content/custom.css" />
</head>
<body>
    <div class="page" id="mainPage">
        <div class="page__hd">
            <p class="page__desc">不动产登记申请书</p>
        </div>
        <div class="page__bd">
            <!--申请登记事由-->
            <div class="weui-cells weui-cells_form consumer-weui-cells">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title">申请登记事由(多选)</p>
                </div>
                <div>
                    <div class="weui-cells weui-cells_checkbox">
                        <label class="weui-cell weui-check__label" for="s11">
                            <div class="weui-cell__hd">
                                <input type="checkbox" class="weui-check" name="checkbox1" id="s11" ><!--checked="checked"-->
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>土地所有权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s12">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s12">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>国有建设用地使用权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s13">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s13">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>宅基地使用权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s14">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s14">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>集体建设用地使用权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s15">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s15">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>土地承包经营权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s16">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s16">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>林地使用权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s17">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s17">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>海域使用权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s18">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s18">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>无居民海岛使用权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s19">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s19">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>房屋所有权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s20">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s20">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>构筑物所有权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s21">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s21">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>深林、林木所有权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s22">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s22">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>深林、林木使用权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s23">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s23">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>抵押权</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s24">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s24">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>地役权</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <!--申请人情况-->
            <div class="weui-cells weui-cells_form consumer-weui-cells">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title">申请人情况</p>
                </div>
                <section>
                    <p>----登记申请人1</p>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">权利人姓名：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" placeholder="请输入名称" />
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">身份证种类：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" placeholder="请输入身份证种类" />
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">证件号：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" placeholder="请输入证件号" />
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">通讯地址：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" placeholder="请输入通讯地址" />
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">邮编：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" placeholder="请输入邮编" />
                        </div>
                    </div>


                </section>
                <section>
                    <p>----登记申请人2</p>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">权利人姓名：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" placeholder="请输入名称" />
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">身份证种类：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" placeholder="请输入身份证种类" />
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">证件号：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" placeholder="请输入证件号" />
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">通讯地址：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" placeholder="请输入通讯地址" />
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">邮编：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" placeholder="请输入邮编" />
                        </div>
                    </div>
                </section>
            </div>

            <!--不动产情况-->
            <div class="weui-cells weui-cells_form consumer-weui-cells">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title">不动产情况</p>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">坐落：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入坐落" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">不动产类型：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入不动产类型" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">面积：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入面积" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">用途：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入用途" />
                    </div>
                </div>
            </div>

            <!--申请证书版式-->
            <div class="weui-cells weui-cells_form consumer-weui-cells">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title">申请证书版式</p>
                </div>
                <div class="weui-cells weui-cells_radio">
                    <label class="weui-cell weui-check__label" for="x110">
                        <div class="weui-cell__bd">
                            <p>单一版</p>
                        </div>
                        <div class="weui-cell__ft">
                            <input type="radio" class="weui-check" name="radio1" id="x110">
                            <span class="weui-icon-checked"></span>
                        </div>
                    </label>
                    <label class="weui-cell weui-check__label" for="x120">

                        <div class="weui-cell__bd">
                            <p>集成版</p>
                        </div>
                        <div class="weui-cell__ft">
                            <input type="radio" name="radio1" class="weui-check" id="x120" checked="checked">
                            <span class="weui-icon-checked"></span>
                        </div>
                    </label>
                    </div>
                </div>

            <!--申请分别持证-->
            <div class="weui-cells weui-cells_form consumer-weui-cells">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title">申请分别持证</p>
                </div>
                <div class="weui-cells weui-cells_radio">
                    <label class="weui-cell weui-check__label" for="x11">
                        <div class="weui-cell__bd">
                            <p>是</p>
                        </div>
                        <div class="weui-cell__ft">
                            <input type="radio" class="weui-check" name="radio1" id="x11">
                            <span class="weui-icon-checked"></span>
                        </div>
                    </label>
                    <label class="weui-cell weui-check__label" for="x12">

                        <div class="weui-cell__bd">
                            <p>否</p>
                        </div>
                        <div class="weui-cell__ft">
                            <input type="radio" name="radio1" class="weui-check" id="x12" checked="checked">
                            <span class="weui-icon-checked"></span>
                        </div>
                    </label>
                </div>
            </div>

            <!--备注-->
            <div class="weui-cells weui-cells_form consumer-weui-cells">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title">备注</p>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" placeholder="请输入文本" rows="3"></textarea>
                        <div class="weui-textarea-counter"><span>0</span>/200</div>
                    </div>
                </div>
            </div>

            <!--签章-->
            <div class="weui-cells weui-cells_form consumer-weui-cells">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title">签章</p>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">申请人：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入申请人" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">代理人：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入代理人" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">申请人：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入申请人" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">代理人：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" placeholder="请输入代理人" />
                    </div>
                </div>
            </div>

                <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" href="javascript:GotoLevel1()" id="btnRegister">确定</a>
                    <a href="./Level3.html" class="weui-btn weui-btn_plain-default">返回</a>
                </div>
            </div>
    </div>
</body>
</html>
<script src="./Scripts/jquery-1.10.2.min.js"></script>
<script>
    function GotoLevel1() {
        window.location.href = "level1.html";
    }
</script>
