<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yucheng.estm.mapper.AuditMapper">
  <resultMap id="BaseResultMap" type="com.yucheng.estm.entity.Audit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="bus_type" jdbcType="INTEGER" property="busType" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="audit_date" jdbcType="TIMESTAMP" property="auditDate" />
    <result column="dir_path" jdbcType="VARCHAR" property="dirPath" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <association column="out_user_id" property="outUser" select="com.yucheng.estm.mapper.OutUserMapper.selectByPrimaryKey"/>
    <association column="audit_user_id" property="auditUser" select="com.yucheng.estm.mapper.InnerUserMapper.selectByPrimaryKey"/>
  </resultMap>

  <resultMap id="QueryResultMap" type="com.yucheng.estm.entity.Audit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="bus_type" jdbcType="INTEGER" property="busType" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="audit_date" jdbcType="TIMESTAMP" property="auditDate" />
    <result column="dir_path" jdbcType="VARCHAR" property="dirPath" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <association column="out_user_id" property="outUser" select="com.yucheng.estm.mapper.OutUserMapper.selectByPrimaryKey"/>
    <association column="audit_user_id" property="auditUser" select="com.yucheng.estm.mapper.InnerUserMapper.selectByPrimaryKey"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, order_no, bus_type, out_user_id, audit_user_id, state, create_date, audit_date,
    dir_path, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_audit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_audit
    where order_no = #{orderNo,jdbcType=INTEGER}
  </select>

  <select id="selectListByCondition" parameterType="com.yucheng.estm.entity.Audit" resultMap="QueryResultMap">
    select
    a.id, a.order_no, a.bus_type, a.out_user_id, a.audit_user_id, a.state, a.create_date, a.audit_date,
    a.dir_path, a.remark, o.name, o.phone
    from t_audit a left join t_out_user o on a.out_user_id = o.id
    <where>
      1=1
      <if test="orderNo != null">
        and a.order_no = #{orderNo}
      </if>
      <if test="busType != null">
        and a.bus_type = #{busType}
      </if>
      <if test="outUser != null and outUser.name != null">
        and o.name LIKE '%' #{outUser.name} '%'
      </if>
      <if test="outUser != null and outUser.phone != null">
        and o.phone LIKE '%' #{outUser.phone} '%'
      </if>
      <if test="state != null">
        and state = #{state}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_audit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yucheng.estm.entity.Audit">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_audit (order_no, bus_type, out_user_id,
    audit_user_id, state, create_date,
    audit_date, dir_path, remark
    )
    values (#{orderNo,jdbcType=VARCHAR}, #{busType,jdbcType=INTEGER}, #{outUser.id,jdbcType=INTEGER},
    #{auditUser.id,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
    #{auditDate,jdbcType=TIMESTAMP}, #{dirPath,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.yucheng.estm.entity.Audit">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_audit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="busType != null">
        bus_type,
      </if>
      <if test="outUser ！= null and outUser.id != null">
        out_user_id,
      </if>
      <if test="auditUser != null and auditUser.id != null">
        audit_user_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="auditDate != null">
        audit_date,
      </if>
      <if test="dirPath != null">
        dir_path,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="busType != null">
        #{busType,jdbcType=INTEGER},
      </if>
      <if test="outUser != null and outUser.id != null">
        #{outUser.id,jdbcType=INTEGER},
      </if>
      <if test="auditUser != null and auditUser.id != null">
        #{auditUser.id,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditDate != null">
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dirPath != null">
        #{dirPath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yucheng.estm.entity.Audit">
    update t_audit
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="busType != null">
        bus_type = #{busType,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditDate != null">
        audit_date = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dirPath != null">
        dir_path = #{dirPath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yucheng.estm.entity.Audit">
    update t_audit
    set order_no = #{orderNo,jdbcType=VARCHAR},
      bus_type = #{busType,jdbcType=INTEGER},
      out_user_id = #{outUser.id,jdbcType=INTEGER},
      audit_user_id = #{auditUser.id,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      dir_path = #{dirPath,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>