<table class="easyui-datagrid" title="审核列表" fit="true" fitColumns="true"
	   url="data/griddata.json" method="get" toolbar="#toolbar"
	   striped="true" rownumbers="true" pagination="true" remoteSort="false">
	<thead>
	<tr>
		<th field="outname" width="20" align="center" sortable="true">姓名</th>
		<th field="phone" width="10" align="center" sortable="true">手机号</th>
		<th field="busType" width="15" align="center" sortable="true">类型</th>
		<th field="auditState" width="15" align="center" sortable="true">审核状态</th>
	</tr>
	</thead>
</table>

<div class="toolbar" id="toolbar">
	<div class="search-div">
		<label>手机号：</label>
		<input type="text" class="easyui-textbox"  />
		<label>审核状态：</label>
		<select class="easyui-combobox" data-options="editable:false">
			<option value="-1">全部</option>
			<option value="0">待审核</option>
			<option value="1">审核通过</option>
			<option value="2">审核不通过</option>
		</select>
		<a href="#" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
	</div>
	<div class="ctrl-div">
		<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" id="editBtn">审核</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-print" plain="true">打印</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true">导出</a>
	</div>
</div>