
/*表格分页*/
.dataTables_info {
    float: left;
    width: 60%;
}

.dataTables_paginate.paging_bootstrap.pagination {
    padding-top: 0px;
}

/*审核页面文件列表*/
.state-overview .state-value {
    width: 100%;
}

